.aae-a-button-pro .e-svg-base {
  width: 23px;
  height: 23px;
}
.aae-a-button-pro svg {
  width: 100%;
  height: 100%;
}
.aae-a-button-pro.aae--btn-pro {
  gap: 5px;
}

.aae-a-button-pro svg,
.aae-a-button-pro svg path,
.aae--btn-pro svg,
.aae--btn-pro svg path,
.aae-btn-pro-group svg,
.aae-btn-pro-group svg path {
  fill: currentColor;
}

.aae--btn-pro .icon {
  line-height: 0;
  font-size: 1em;
  width: 1em;
  height: 1em;
  color: inherit;
}

.style-4.aae--btn-pro,
.style-4 .aae--btn-pro {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #121212;
  padding: 18px 42px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.style-4.aae--btn-pro:hover,
.style-4 .aae--btn-pro:hover {
  color: #fff;
}
.style-4.aae--btn-pro:hover .aae-ripple-el,
.style-4.aae--btn-pro:hover > span:not([class]),
.style-4 .aae--btn-pro:hover .aae-ripple-el,
.style-4 .aae--btn-pro:hover > span:not([class]) {
  width: 500px;
  height: 500px;
}
.style-4.aae--btn-pro:hover .aae-arrow-el,
.style-4.aae--btn-pro:hover > strong,
.style-4 .aae--btn-pro:hover .aae-arrow-el,
.style-4 .aae--btn-pro:hover > strong {
  background: #fff;
}
.style-4.aae--btn-pro:hover .aae-arrow-el::after,
.style-4.aae--btn-pro:hover > strong::after,
.style-4 .aae--btn-pro:hover .aae-arrow-el::after,
.style-4 .aae--btn-pro:hover > strong::after {
  right: 0;
  opacity: 1;
}
.style-4.aae--btn-pro .aae-ripple-el,
.style-4.aae--btn-pro > span:not([class]),
.style-4 .aae--btn-pro .aae-ripple-el,
.style-4 .aae--btn-pro > span:not([class]) {
  position: absolute;
  width: 0;
  height: 0;
  background: #FC5A11;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease;
  z-index: -1;
}
.style-4.aae--btn-pro .aae-arrow-el,
.style-4.aae--btn-pro > strong,
.style-4 .aae--btn-pro .aae-arrow-el,
.style-4 .aae--btn-pro > strong {
  width: 50px;
  display: inherit;
  height: 1px;
  margin-left: 5px;
  position: relative;
}
.style-4.aae--btn-pro .aae-arrow-el::after,
.style-4.aae--btn-pro > strong::after,
.style-4 .aae--btn-pro .aae-arrow-el::after,
.style-4 .aae--btn-pro > strong::after {
  position: absolute;
  content: "";
  top: -5px;
  right: 30px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  padding: 5px;
  transform: rotate(-45deg);
  transition: all 0.3s;
  opacity: 0;
}

.aae-btn-pro-group {
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
}
.aae-btn-pro-group.aae--btn-pro {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.aae-btn-pro-group .e-paragraph-base,
.aae-btn-pro-group > .elementor-widget-e-paragraph .e-paragraph-base {
  padding: 21px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #000;
  text-transform: capitalize;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  gap: 30px;
  white-space: nowrap;
  border-radius: 30px;
  text-decoration: none;
}
.aae-btn-pro-group > .e-svg-base,
.aae-btn-pro-group > [data-swap-clone],
.aae-btn-pro-group > .elementor-widget-e-svg > .e-svg-base {
  color: #000;
  fill: currentColor;
  border-radius: 50px;
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  flex-shrink: 0;
}
.aae-btn-pro-group > * {
  transition: all 0.5s;
}

.style-5.aae-btn-pro-group > [data-swap-clone],
.style-5 .aae-btn-pro-group > [data-swap-clone] {
  transform: scale3d(0.5, 0.5, 1);
  margin-right: -60px;
  opacity: 0;
}
.style-5.aae-btn-pro-group > .e-svg-base:not([data-swap-clone]),
.style-5 .aae-btn-pro-group > .e-svg-base:not([data-swap-clone]), .style-5.aae-btn-pro-group > .elementor-widget-e-svg > .e-svg-base,
.style-5 .aae-btn-pro-group > .elementor-widget-e-svg > .e-svg-base {
  transform: scale3d(1, 1, 1);
  margin-left: 0;
  opacity: 1;
}
.style-5.aae-btn-pro-group:hover > [data-swap-clone],
.style-5 .aae-btn-pro-group:hover > [data-swap-clone] {
  transform: scale3d(1, 1, 1);
  margin-right: 0;
  opacity: 1;
}
.style-5.aae-btn-pro-group:hover > .e-svg-base:not([data-swap-clone]),
.style-5 .aae-btn-pro-group:hover > .e-svg-base:not([data-swap-clone]), .style-5.aae-btn-pro-group:hover > .elementor-widget-e-svg > .e-svg-base,
.style-5 .aae-btn-pro-group:hover > .elementor-widget-e-svg > .e-svg-base {
  transform: scale3d(0.5, 0.5, 1);
  margin-left: -60px;
  opacity: 0;
}

.style-6.aae-btn-pro-group > [data-swap-clone],
.style-6 .aae-btn-pro-group > [data-swap-clone] {
  transform: scale3d(1, 1, 1);
  margin-right: 0;
  opacity: 1;
}
.style-6.aae-btn-pro-group > .e-svg-base:not([data-swap-clone]),
.style-6 .aae-btn-pro-group > .e-svg-base:not([data-swap-clone]), .style-6.aae-btn-pro-group > .elementor-widget-e-svg > .e-svg-base,
.style-6 .aae-btn-pro-group > .elementor-widget-e-svg > .e-svg-base {
  transform: scale3d(0.5, 0.5, 1);
  margin-left: -60px;
  opacity: 0;
}
.style-6.aae-btn-pro-group:hover > [data-swap-clone],
.style-6 .aae-btn-pro-group:hover > [data-swap-clone] {
  transform: scale3d(0.5, 0.5, 1);
  margin-right: -60px;
  opacity: 0;
}
.style-6.aae-btn-pro-group:hover > .e-svg-base:not([data-swap-clone]),
.style-6 .aae-btn-pro-group:hover > .e-svg-base:not([data-swap-clone]), .style-6.aae-btn-pro-group:hover > .elementor-widget-e-svg > .e-svg-base,
.style-6 .aae-btn-pro-group:hover > .elementor-widget-e-svg > .e-svg-base {
  transform: scale3d(1, 1, 1);
  margin-left: 0;
  opacity: 1;
}

.style-9.aae-btn-oval,
.style-9 .aae-btn-oval {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  padding: 32px 52px;
  border: 1px solid #1C1D20;
  color: #1C1D20;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.style-9.aae-btn-oval:hover,
.style-9 .aae-btn-oval:hover {
  color: #fff;
  border-color: #1C1D20;
}
.style-9.aae-btn-oval .aae-btn-fill-el,
.style-9 .aae-btn-oval .aae-btn-fill-el {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  background-color: #1C1D20;
  transform: translate(-50%, -50%);
  transition: width 0.6s ease, height 0.6s ease;
  z-index: -1;
}
.style-9.aae-btn-oval:hover .aae-btn-fill-el,
.style-9 .aae-btn-oval:hover .aae-btn-fill-el {
  width: 400px;
  height: 400px;
}

.style-10.aae-btn-circle,
.style-10 .aae-btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  flex-direction: column;
  padding: 0;
  color: #1C1D20;
  border: 1px solid #1C1D20;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.style-10.aae-btn-circle:hover,
.style-10 .aae-btn-circle:hover {
  color: #fff;
}
.style-10.aae-btn-circle .aae-btn-fill-el,
.style-10 .aae-btn-circle .aae-btn-fill-el {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  background-color: #1C1D20;
  transform: translate(-50%, -50%);
  transition: width 0.6s ease, height 0.6s ease;
  z-index: -1;
}
.style-10.aae-btn-circle:hover .aae-btn-fill-el,
.style-10 .aae-btn-circle:hover .aae-btn-fill-el {
  width: 400px;
  height: 400px;
}

.style-11.aae-btn-ellipse,
.style-11 .aae-btn-ellipse {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #1C1D20;
  padding: 45px;
  position: relative;
  background-color: #1C1D20;
  border-radius: 100%;
  border-top-left-radius: 200%;
  border-bottom-right-radius: 200%;
  z-index: 1;
}
.style-11.aae-btn-ellipse:hover,
.style-11 .aae-btn-ellipse:hover {
  color: #FFBC7D;
  background-color: #E8BF96;
}
.style-11.aae-btn-ellipse::before,
.style-11 .aae-btn-ellipse::before {
  position: absolute;
  content: "";
  width: calc(100% - 16px);
  height: calc(100% - 2px);
  background-color: #fff;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border-top-left-radius: 200%;
  border-bottom-right-radius: 200%;
  transition: background-color 0.3s;
}
.style-11.aae-btn-ellipse:hover::before,
.style-11 .aae-btn-ellipse:hover::before {
  background-color: #fff;
}/*# sourceMappingURL=button-pro.css.map */