.aae--posts-tab .thumb img {
  -o-object-fit: cover;
     object-fit: cover;
}
.aae--posts-tab .link svg {
  width: 1em;
  height: 1em;
}
.aae--posts-tab .posts-banner {
  width: 100%;
  height: 680px;
  overflow: hidden;
}
.aae--posts-tab .posts-banner .thumb {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aae--posts-tab .posts-banner .thumb iframe {
  width: 100%;
  height: 100%;
}
.aae--posts-tab .aae-posts {
  display: grid;
  flex-basis: auto;
}
.aae--posts-tab .aae-post {
  display: flex;
  gap: 15px;
  border-right: 1px solid #222;
}
.aae--posts-tab .aae-post:last-child {
  border-right: none;
}
.aae--posts-tab .aae-posts-wrap {
  display: flex;
  border-top: 1px solid #222;
  position: absolute;
  bottom: 0;
  left: 0;
}
.aae--posts-tab .aae-view-all {
  flex-basis: 200px;
  border-left: 1px solid #222;
}