.aae--posts-tab {
  .posts-banner {
    width: 100%;
    height: 495px;
    margin-bottom: 30px;
    overflow: hidden;

    .thumb {
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .aae-posts {
    display: grid;
  }

  .aae-post {
    display: flex;
    gap: 15px;
  }

  &.style-1 {
  }


  &.style-2 {
  }


}