.aae--posts-tab {
  .thumb {
    img {
      object-fit: cover;
    }
  }

  .link svg {
    width: 1em;
    height: 1em;
  }

  .posts-banner {
    width: 100%;
    overflow: hidden;

    .thumb {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .aae-posts {
    display: grid;
  }

  .aae-post {
    display: flex;
    gap: 15px;
    border-right: 1px solid #222;

    &:last-child {
      border-right: none;
    }
  }

  &.style-1 {
    .posts-banner {
      height: 495px;
      margin-bottom: 30px;
    }

    .aae-meta {
      display: flex;
      align-items: center;
      gap: 5px 36px;
      flex-wrap: wrap;

      li {
        position: relative;

        &:last-child {
          &::after {
            display: none;
          }
        }

        &::after {
          position: absolute;
          content: "";
          width: 20px;
          height: 1px;
          top: 50%;
          margin-left: 8px;
          background-color: #0a0a0a;
        }
      }
    }

  }

  &.style-2 {
     .posts-banner {
      height: 680px;
    }
    .aae-posts-wrap {
      display: flex;
      border-top: 1px solid #222;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .aae-posts {
      flex-basis: auto;
    }

    .aae-view-all {
      flex-basis: 200px;
      border-left: 1px solid #222;
    }

  }

}

// demo 
.posts-banner img {
  display: block;
  width: 100%;
  height: 400px;
}