@import "../../../../../../assets/src/scss/utils/variables";

// Animation
@keyframes mask_animation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes mask_animation_2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.aae-a-button {
  // column-gap: 66px;
}

.elementor .aae-a-button {
  .e-svg-base {
    width: 23px;
    height: 23px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}