.wcf--author-posts{

}
.wcf--author-posts-box{

}
.wcf--author-posts-image{
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.wcf--author-posts-name{}
.wcf--author-posts-designation{}
.wcf--author-posts-email{}
.wcf--author-posts-phone{}